[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pip = "==18.0"

[dev-packages]
flake8 = "*"
pylint = "*"
mypy = "*"
"autopep8" = "*"
rope = "*"
nose = "*"

[requires]
python_version = "3"
